* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.header {
  width: 100%;
  background-color: #0061f2;
  background-image: linear-gradient(
    135deg,
    #0061f2 0%,
    rgba(105, 0, 199, 0.8) 100%
  );
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0061f2;
    background-image: linear-gradient(
      135deg,
      #0061f2 0%,
      rgba(105, 0, 199, 0.8) 100%
    );
    .logo-img {
      width: 60px;
      height: auto;
    }
  }
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
