* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.header {
  width: 100%;
  nav {
    display: flex;
    .logo-img {
      width: 100px;
      height: auto;
    }
  }
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
